_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
**/.DS_Store
/.vs/Devops Squad Dev Experience/FileContentIndex/255cedce-ecea-42d5-a6f7-409b27d69c34.vsidx
/.vs/Devops Squad Dev Experience/FileContentIndex/7e1fb98a-0bdd-4c89-baa0-3b81071afb53.vsidx
/.vs/Devops Squad Dev Experience/FileContentIndex/d01bab7c-d708-4a0b-ada1-f7f5f296f585.vsidx
/.vs/Devops Squad Dev Experience/v17/.wsuo
/.vs/Devops Squad Dev Experience/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
